<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="changepasswordWrapp m-top">
  <div class="porfileUserblock">
    <div class="porfilePosition">
      <div class="personIcon-svg">
        <svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97">
          <g id="Group_196" data-name="Group 196" transform="translate(-133 -113)">
            <g id="Ellipse_30" data-name="Ellipse 30" transform="translate(133 113)" fill="#fff" stroke="#f1f6fd"
              stroke-width="3">
              <circle cx="48.5" cy="48.5" r="48.5" stroke="none" />
              <circle cx="48.5" cy="48.5" r="47" fill="none" />
            </g>
            <g id="noun_change_password_4211934" data-name="noun_change password_4211934"
              transform="translate(147.5 118.025)">
              <g id="Group_195" data-name="Group 195" transform="translate(2.5 29.475)">
                <path id="Path_1729" data-name="Path 1729"
                  d="M22.528,46.121a1.132,1.132,0,0,0-1.408-.737l-2.681.871V43.44a1.14,1.14,0,0,0-2.279,0v2.815l-2.681-.871a1.124,1.124,0,1,0-.67,2.145l2.681.871-1.676,2.279a1.113,1.113,0,0,0,.268,1.609,1.293,1.293,0,0,0,.67.2,1.171,1.171,0,0,0,.938-.469l1.676-2.279,1.676,2.279a1.087,1.087,0,0,0,.938.469,1.293,1.293,0,0,0,.67-.2,1.171,1.171,0,0,0,.268-1.609L19.244,48.4l2.681-.871A1.189,1.189,0,0,0,22.528,46.121Z"
                  transform="translate(-5.636 -33.703)" fill="#31385b" stroke="#fff" stroke-width="1" />
                <path id="Path_1730" data-name="Path 1730"
                  d="M40.617,52.288a1.171,1.171,0,0,0,.268-1.609L39.21,48.4l2.681-.871a1.1,1.1,0,0,0,.737-1.408,1.132,1.132,0,0,0-1.408-.737l-2.681.871V43.44a1.14,1.14,0,1,0-2.279,0v2.815l-2.681-.871a1.124,1.124,0,0,0-.67,2.145l2.681.871-1.676,2.279a1.113,1.113,0,0,0,.268,1.609,1.293,1.293,0,0,0,.67.2,1.171,1.171,0,0,0,.938-.469l1.676-2.279,1.676,2.279a1.087,1.087,0,0,0,.938.469A1.339,1.339,0,0,0,40.617,52.288Z"
                  transform="translate(-12.263 -33.703)" fill="#31385b" stroke="#fff" stroke-width="1" />
                <path id="Path_1731" data-name="Path 1731"
                  d="M53.679,45.383a1.124,1.124,0,1,0-.67,2.145l2.681.871-1.676,2.279a1.113,1.113,0,0,0,.268,1.609,1.293,1.293,0,0,0,.67.2,1.171,1.171,0,0,0,.938-.469l1.676-2.279,1.676,2.279a1.087,1.087,0,0,0,.938.469,1.293,1.293,0,0,0,.67-.2,1.171,1.171,0,0,0,.268-1.609L59.444,48.4l2.681-.871a1.1,1.1,0,0,0,.737-1.408,1.132,1.132,0,0,0-1.408-.737l-2.681.871V43.44a1.14,1.14,0,0,0-2.279,0v2.815Z"
                  transform="translate(-18.889 -33.703)" fill="#31385b" stroke="#fff" stroke-width="1" />
                <path id="Path_1732" data-name="Path 1732"
                  d="M77.6,42.4a1.175,1.175,0,0,0-1.14,1.14v2.815l-2.681-.871a1.124,1.124,0,1,0-.67,2.145l2.681.871-1.676,2.212a1.113,1.113,0,0,0,.268,1.609,1.293,1.293,0,0,0,.67.2,1.171,1.171,0,0,0,.938-.469l1.676-2.279,1.676,2.279a1.087,1.087,0,0,0,.938.469,1.293,1.293,0,0,0,.67-.2,1.171,1.171,0,0,0,.268-1.609l-1.676-2.279,2.681-.871a1.1,1.1,0,0,0,.737-1.408,1.132,1.132,0,0,0-1.408-.737l-2.681.871V43.473A1.353,1.353,0,0,0,77.6,42.4Z"
                  transform="translate(-25.516 -33.736)" fill="#31385b" stroke="#fff" stroke-width="1" />
                <path id="Path_1733" data-name="Path 1733"
                  d="M27.034,51.679H8.265a3.5,3.5,0,0,1-3.486-3.486V38.206A3.5,3.5,0,0,1,8.265,34.72H34.877l-1.005,1.005a1.1,1.1,0,0,0,0,1.609,1.133,1.133,0,0,0,1.609,0l2.949-2.949a1.133,1.133,0,0,0,0-1.609L35.48,29.827a1.138,1.138,0,0,0-1.609,1.609l1.005,1.005H8.265A5.764,5.764,0,0,0,2.5,38.206v9.988a5.764,5.764,0,0,0,5.765,5.765H27.1a1.175,1.175,0,0,0,1.14-1.14A1.189,1.189,0,0,0,27.034,51.679Z"
                  transform="translate(-2.5 -29.475)" fill="#31385b" stroke="#fff" stroke-width="1" />
                <path id="Path_1734" data-name="Path 1734"
                  d="M73.9,34H55.131a1.14,1.14,0,0,0,0,2.279H73.967a3.5,3.5,0,0,1,3.486,3.486v9.988a3.5,3.5,0,0,1-3.486,3.486H47.288l1.005-1.005a1.138,1.138,0,1,0-1.609-1.609l-2.949,2.949a1.237,1.237,0,0,0-.335.8,1.11,1.11,0,0,0,.335.8l2.949,2.949a1.133,1.133,0,0,0,1.609,0,1.1,1.1,0,0,0,0-1.609L47.288,55.45H73.9a5.764,5.764,0,0,0,5.765-5.765V39.7A5.708,5.708,0,0,0,73.9,34Z"
                  transform="translate(-15.984 -30.967)" fill="#31385b" stroke="#fff" stroke-width="1" />
              </g>
            </g>
          </g>
        </svg>
      </div>

    </div>
  </div>

  <ion-card class="createViolationWrapp porfileCard formStackedStyles">
    <div class="porfileCardSapce">
      <form [formGroup]="ChangePassword">
        <ion-item>
          <ion-label position="stacked">Your Current Password</ion-label>
          <!-- <ion-input placeholder="Enter CurrentPassword" formControlName="oldpassword"> -->
          <ion-input placeholder="Please Enter Your Current Password" formControlName="currentpassword" type="password"
            [ngClass]="{'is-invalid': (!submitted && form.currentpassword.errors) || (form.currentpassword.touched && form.currentpassword.errors)}">
          </ion-input>
        </ion-item>
        <div *ngIf="!submitted||(form.currentpassword.touched && form.currentpassword.invalid)">
          <small class="form-text error-message" *ngIf="form.currentpassword.errors"> Current Password is
            required</small>
          </div>
        <ion-item>
          <ion-label position="stacked">New Password</ion-label>
          <!-- <ion-input placeholder="Please Enter Your New Password"></ion-input> -->
          <ion-input placeholder="Please Enter Your New Password" formControlName="newpassword" type="password"
            [ngClass]="{ 'is-invalid': (!submitted && form.newpassword.errors) || (form.newpassword.touched && form.newpassword.errors) }">
          </ion-input>
        </ion-item>
        <!-- <div *ngIf="!submitted||(form.newpassword.touched && form.newpassword.invalid)">
          <small class="form-text error-message" *ngIf="form.newpassword.errors"> New Password is required</small>
        </div> -->
        <div *ngIf="!submitted||(form.newpassword.touched && form.newpassword.invalid)">
          <small class="form-text error-message" *ngIf="form.newpassword.errors?.required">New Password is required</small>
          <small class="form-text error-message" *ngIf="form.newpassword.errors?.pattern">  <div class="passwordErrors">
            <ion-text>
              <ion-icon name="information-circle-outline"></ion-icon> Minimum 8 characters and Maximum 15 Characters in Length.
            </ion-text>
            <ion-text>
              <ion-icon name="information-circle-outline"></ion-icon>One Lowercase letters
            </ion-text>
            <ion-text>
              <ion-icon name="information-circle-outline"></ion-icon>One Uppercase letters
            </ion-text>
            <ion-text>
              <ion-icon name="information-circle-outline"></ion-icon>One  Number
            </ion-text>
            <ion-text>
              <ion-icon name="information-circle-outline"></ion-icon>One Special characters
            </ion-text>
          </div></small>
        </div>
        <ion-item>
          <ion-label position="stacked">Re-Type Password</ion-label>
          <!-- <ion-input placeholder="Please Enter  Re-Type Password"></ion-input> -->
          <ion-input placeholder="Please Re-Type Password" formControlName="confirmpassword" type="password"
            [ngClass]="{ 'is-invalid': (!submitted && form.confirmpassword.errors) || (form.confirmpassword.touched && form.confirmpassword.errors) }">
          </ion-input>
        </ion-item>
        <div *ngIf="!submitted||(form.confirmpassword.touched && form.confirmpassword.invalid)">
          <small class="form-text error-message" *ngIf="form.confirmpassword.errors"> Confirm Password is
            required</small>
        </div>
        <div  *ngIf="form.confirmpassword.touched && ChangePassword.hasError('mismatchedPasswords') && form.newpassword.valid">
          <small class="form-text error-message">Passwords do not match</small>
        </div>
      </form>
    </div>


    <div class="logoutBlock">
      <!-- <div class="logoutcont"><h5>Change Password</h5></div> -->
      <!-- <ion-button class="logoutcont" (click)="ChangePasswordbtn()">Login</ion-button> -->
      <div class="logoutcont" (click)="ChangePasswordbtn()">
        <h5>Change Password</h5>
      </div>
    </div>
  </ion-card>

</ion-content>