.equipmentDetailsCard {
    margin: 16px;
  }
  
  .equipmentDetailsCard ion-card {
    margin: 8px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative; /* For positioning the delete button */
  }
  
  .equipmentDetailsCard ion-button {
    padding: 0;
    margin: 0;
  }
  
  .equipmentDetailsCard ion-select, 
  .equipmentDetailsCard ion-input {
    margin-bottom: 8px;
  }
  
  .add-remove-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .add-remove-buttons ion-button {
    margin-left: 8px;
  }
  
  .delete-button {
    position: absolute;
    top: 8px;
    right: 8px;
  }
  