<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'COMPLAINT_LIST' | translate }}</ion-title>
  </ion-toolbar>

  <ion-toolbar class="searchBlock">
    <ion-searchbar showCancelButton="never" (ionInput)="SearchComplaints($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="searchWrapp m-top">
  <ng-container *ngIf = "listComplaints.length > 0">
    <ion-card class="complaintsListCard" *ngFor="let row of listComplaints">
      <ion-item lines="none">
        <ion-label class="ion-text-wrap comlistLabel">
          <div class="idComplaint">
            <ion-row>
              <ion-col> <ion-text>
                  <h2>{{row.reference_number}}</h2>
                </ion-text> </ion-col>
              <ion-col> <ion-text>
                  <p>{{row.created_on|date:'dd-MM-yyyy hh:mm'}}</p>
                </ion-text></ion-col>
            </ion-row>
          </div>
  
          <ion-grid class="complaintsContBlock">
            <ion-row>
              <ion-col size="5">
                <ion-text>
                  <h6> {{'AGENCY' | translate}}  </h6>
                </ion-text>
                <ion-text>
                  <h3>{{setLanguage==='ar' ? row.agency_name_ar : row.agency_name_en}}</h3>
                </ion-text>
              </ion-col>
  
              <ion-col size="3">
                <ion-text>
                  <h6> {{'COMPLAINT_TYPE' | translate}} </h6>
                </ion-text>
                <ion-text>
                  <h3>{{setLanguage==='ar' ? row.complaint_type_ar : row.complaint_type_en}}</h3>
                </ion-text>
              </ion-col>
  
              <ion-col size="4">
                <ion-text>
                  <h6> {{'AREA_NAME' | translate}} </h6>
                </ion-text>
                <ion-text>
                  <h3>{{setLanguage==='ar' ? row.description_ar : row.description_en}}</h3>
                </ion-text>
              </ion-col>
  
              <ion-col size="4">
                <ion-text>
                  <h6> {{'PRIORITY' | translate}} </h6>
                </ion-text>
                <ion-text>
                  <h3>{{setLanguage==='ar' ? row.priority : row.priority}}</h3>
                </ion-text>
              </ion-col>
  
              <ion-col size="12">
                <ion-text>
                  <h6> {{'DESCRIPTION_TEXT' | translate}} </h6>
                </ion-text>
                <ion-text>
                  <h3>{{row.description}} </h3>
                </ion-text>
              </ion-col>
              <ion-col size="12">
                <div class="actionBts">
                  <!-- <ion-button class="actBt pendingbt">{{row.payment_status}}</ion-button> -->
                  <div class="iconBtBlock">
                    <ion-button class="iconBt" routerLink="/complaintdetails/{{row.id}}">
                      <ion-icon name="eye-outline"></ion-icon>
                    </ion-button>
                    <ion-button class="iconBt" (click)="viewMapModal(row.complaint_lat_lang)">
                      <ion-icon name="globe-outline"></ion-icon>
                    </ion-button>
                  </div>
                </div>
  
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="listComplaints.length == 0">
    <ion-text class="noData">No data found..</ion-text>
  </ng-container>


  <ion-fab *ngIf="hasMenuAccess('create_raqib_complaint')" vertical="bottom" horizontal="end" slot="fixed" class="fabIonStyles">
    <ion-fab-button routerLink="/raisecomplaint">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreComplaints($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more complaints...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>