<!-- src/app/home/home.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Create Complaint
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="createComplaint(40.7128, -74.0060)">
    Create Complaint at (17.4469439, 78.3864579) 
  </ion-button>
  <ion-button (click)="createComplaint(34.0522, -118.2437)">
    Create Complaint at (34.0522, -118.2437) 
  </ion-button>
  <ion-button (click)="createComplaint(41.8781, -87.6298)">
    Create Complaint at (41.8781, -87.6298) 
  </ion-button>
  <ion-button (click)="createComplaint(40.7129, -74.0061)">
    Create Complaint at (40.7129, -74.0061)
  </ion-button>
  <ion-button (click)="showComplaints()">
    Show Complaints
  </ion-button>
</ion-content>
